:root{
  --bg1: #1C1C1C;
  --ui3: #505050;
  --button-background: #505050;
  --button-border: #353535;
  --cm-background-color: #202020;
  --cm-active-line-background-color: #353535;
  --cm-foreground-color: #E0E0E0;
  --h1-color: #FFFFFF;
  --h2-color: #F5F5F5;
  --h3-color: #EEEEEE;
  --h4-color: #E0E0E0;
  --h5-color: #BDBDBD;
  --ax3: #353535;
  --icon-color: #BDBDBD;
  --icon-color-hover: #FFFF00;
  --icon-color-active: #40C4FF;
  --text-bold: #F92672;
  --tx2: #9F9F9F;
  --hl2: #FFFF00;
  --tag-color: #1C1C1C;
  --tag-bg: #00CCFF;
  --tag-bg2: #F92672;
  --h6-color: #757575;
  --title-color-inactive: #757575;
  --text-italic: #63FF5B;
  --dno-day-background: #141414;
  --dno-week-background: #151515;
  --ax1: #89DDFF;
  --red: #FF5252;
  --orange: #FD971F;
  --yellow: #FFFF00;
  --green: #63FF5B;
  --cyan: #00CCFF;
  --blue: #2196F3;
  --purple: #AE81FF;
  --pink: #F92672;
  --active-line-bg: #202020;
  --row-color-hover: #353535;
  --text-code: #FD971F;
  --bg2: #303030;
}
